@model PartyRSVP.Models.GuestResponse
@{

}

<div class="container bg-light" id="contact">
    <div class="col-1-2">
        <h2>Contact Daniel</h2>
        <p id="tel">T:  <a href="tel:19167429702">(916)742-9702</a></p>
        <p id="email">E:  <a href="mailto:daniel@danielfanelli.me">daniel@danielfanelli.me</a></p>

        <h4>Reach Out To Us By Completing The Form Below</h4>


        <form class="bg-light" id="form2" asp-action="RsvpForm" method="post">
            <p>
                <label asp-for="FirstName">First Name:</label>
                <input asp-for="FirstName" required />
            </p>
            <p>
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" required />
            </p>
            <p>
                <label asp-for="Email">Email: </label>
                <input asp-for="Email" required />
            </p>
            <p>
                <label asp-for="Phone">Phone: </label>
                <input asp-for="Phone" required />
            </p>
            <p>
                <label>Best Time To Reach You</label>
                <select asp-for="WillAttend">
                    <option value="">Choose an option</option>
                    <option value="morning">Morning</option>
                    <option value="afternoon">Afternoon</option>
                    <option value="evenings">Evenings</option>
                    <option value="weekends">Weekends</option>
                </select>
            </p>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="col-1-2" id="height1">
        <!-- Calendly inline widget begin -->
        <div class="calendly-inline-widget" data-url="https://calendly.com/daniel-r-fanellijr" style="min-width:320px;height:630px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
        <!-- Calendly inline widget end -->


    </div>
</div>

     